@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Research Gate</h1>
    <p class="lead">Research Gate is a web application for Upload and View Researchs</p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Research Gate gives you a powerful, patterns-based way to upload your reserches safely that
            enables users to view your research and write thier feedback on your research and  our web appliction gives you full control.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44317/Account/Login">Login Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Have not an account yet?</h2>
        <p>Easy Register Now</p>
        <p><a class="btn btn-default"href=" https://localhost:44317/Account/Register">Register Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Our Reserches</h2>
        
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">See &raquo;</a></p>
    </div>
</div>